body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    background-color:black;
    display: flex;
    justify-content: center;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    max-width: 900px;
}
/* HEADER */
header {
    display: flex;
    flex-direction: column;
}

/* .banner {
    display: block;
    margin: 0;
    padding: 0;
    background-color: #F14C2C;
}
.banner>h1 {
    font-size: large;
    color: white;
    text-align: center;
    font-weight: normal;
}
.banner>h1 span {
    font-style: italic;
}
.banner>h1 span a {
    color: white;
    font-weight: bold;
    font-style: normal;
} */

.logo {
    margin: 0;
    padding: 0;
    display: block;
}
.logo>img {
    width: 100%;
    height: auto;
}

.eats-drinks {
    display: flex;
    flex-direction: row;
    margin-bottom:.5rem;
    align-self: center;
    justify-content: space-around;
    width: -webkit-fill-available;
    background-color: black;
}
.eats, .drinks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    width: -webkit-fill-available;
    background-color: black;
}
.eats>a, .drinks>a {
    text-decoration: none;
    color: white;
    background-color: #F1AF2C;
    margin: .25rem;
    padding: .5rem;
    width: -webkit-fill-available;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    letter-spacing: .05rem;
    text-shadow: -1px 1px 1px black;
    -webkit-text-stroke-width: .25px;
    -webkit-text-stroke-color: black;
    paint-order: fill;
}

/* STICKY NAV */
.nav-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: .25rem 0 .25rem 0;
    position: sticky;
    align-self: flex-start;
    height: auto;
    top: 0;
    width: -webkit-fill-available;
    background-color: rgba(0, 0, 0, .92);
}
.arrow-right, .arrow-left {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #dddddd;
    width: fit-content;
    vertical-align: middle;
    margin: .5rem .1rem .5rem .1rem;
    padding: 0 .1rem 0 .1rem;
}
.nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    margin: 0;
    padding: 0;
}
.nav-links::-webkit-scrollbar {
    display: none;
  }
.nav-links>a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid #F14C2C;
    margin: .5rem;
    padding: .25rem 0 .25rem 0;
    min-width: fit-content;
}
#nav-vip {
    font-weight: bolder;
    /* color | offset-x | offset-y | blur-radius */
    text-shadow: #FC0 1px 0 2px;
    /* border-bottom: 2px dashed #f14c2c; */
}
#appetizers-sides, #sliders, #salads, #soups, #bowls, #burgers, #burritos, #pizza, #sandwiches, #macs, #kids, #shakes, #syo, #beverages, #cocktails, #beers, #wines, #happy-hour, #queso-dip {
    scroll-margin-top: 3.3rem;
}
/* FOOD */
.food, .beverages {
    display: flex;
    flex-direction: column;
}
.food>div {
    padding: 0 0 .5rem 0;
}
.menu-category-group {
    display: flex;
    flex-direction: column;
    background-color: white;
    background-image: url(../img/burger-graphic-sm.webp);
    background-image: url(../img/burger-graphic-sm.png);
    background-blend-mode: difference;
}
.menu-item, .menu-item-dark {
    display: flex;
    flex-direction: column;
    margin: 0 0 .5rem .25rem;
}
.menu-category-title h1, .menu-category-title-dark h1{
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-size: 2.25rem;
    font-weight:900;
    letter-spacing: .1rem;
    margin: .25rem;
    text-align: center;
}
.menu-category-title {
    text-shadow: -3px 2px 0px #242424;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    color: white;
    border-bottom: 2px solid #242424;
    margin-bottom: .5rem;
}
/*************** DARK BACKGROUND MENU SECTIONS ***************/
.menu-category-group-dark {
    background: rgb(36,36,36);
    background: linear-gradient(145deg, rgba(36,36,36,1) 33%, rgba(0,0,0,1) 100%);
}
.menu-category-title-dark {
    color: white;
    text-shadow: -3px 2px 0px #F14C2C;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: white;
    border-bottom: 2px solid #F14C2C;
    margin-bottom: .5rem;
}
#dark-bg-item {
    color: white;
}
.menu-item-dark {
    color: white;
}
.menu-item-dark>.description {
    color: #dddddd;
}
/*************** END DARK BG MENU SECTIONS **************/
.name-price {
    display: flex;
    flex-direction: row;
}
.name {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}
.price {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 300;
    margin-left: 1rem;
}
.description {
    font-family: 'PT Sans', sans-serif;
    text-transform: lowercase;
    font-weight: lighter;
    font-size: 12px;
    color: #535353;
}
.base-choices {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
    text-transform: lowercase;
    font-weight: lighter;
    font-size: .8rem;
    color: #242424;
    padding: 0 .5rem 0 .5rem;
}
.base-choices>span {
    font-weight: bold;
}
picture.menu-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em .75em 1.5em .75em;
}
.menu-image>img {
    width: 100%;
    height: 90%;
    max-width: 90%;
    box-shadow: 
    -.25em -.25em black,
    -.5em -.5em #F1AF2C;
    /* .75em .75em #f14c2c; */
}
picture.menu-image .menu-image-caption {
    bottom: 1em;
    right: 10%;
    background-color: #f14c2c;
    color: white;
    padding: .25em;
    font-weight: bold;
    font-style: italic;
    width: 80%;
    text-align: center;
    letter-spacing: .1em;
}

/* HEINZ */

/* .heinz-group {
    background-color: rgb(130, 0, 0);
    padding: .5em;
}
.heinz-details {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    text-transform: lowercase;
    font-weight: lighter;
    font-style: italic;
    font-size: .8rem;
    color: #eee;
    padding: 0 .5rem 0 .5rem;
} */



/* SYO */

.syo {
    border: 2px dashed #F14C2C;
    background-color: white;
    margin: 1rem 0 1rem 0;
}
.syo-title h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-size: 2.25em;
    letter-spacing: .2rem;
    text-shadow: -3px 2px 0px #242424;
    color: white;
    border-bottom: 1px solid #242424;
    background-color: #F14C2C;
    margin: 0;
}
.syo-section-title h2 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.75em;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
    color: white;
    background-color: #242424;
    margin: 0;
}
.syo-mods-wrapper {
    display: grid;
    grid-template-areas:
    "col1 col2"
    "mods-row mods-row";
    grid-template-columns: 1fr 1fr;
    padding-top: .5rem;
    margin: 0em .33em;
}
.col1 {grid-area: col1;}
.col2 {grid-area: col2;}
.mods-row {grid-area: mods-row;}

/* ----------------- SYO TABLES -------------------- */
/* table, thead, tbody, tr, td {
    border: 1px solid red;
} */
table {
    border-spacing: 0;
    border-collapse: collapse;
    text-indent: 0;
    margin: .33em;
}
td#mods-title, div#mods-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
td {
    padding-left: .75em;
    font-size: 12px;
    text-transform: lowercase;
    text-indent: -.33em;
    vertical-align: text-top;
}
td#mod-price, div#mod-price {
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    padding: 0;
}
.mods-row>#mods-title {
    text-align: center;
}
#mods-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#mods-flex>div {
    padding-right: .75em;
    font-size: 12px;
    text-transform: lowercase;
}
/* ----------------- END SYO TABLES -------------------- */

/* BEVERAGES */
/* COCKTAILS */
.beverages-title h1 {
    display: flex;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 3.25rem;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: .5rem;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    background: #242424;
    margin: 0;
}
.cocktails {
    padding: .25rem;
    border: 2px solid #242424;
    background-color: #242424;
    color: white;
    margin-bottom: 1rem;
}
.cocktails-section {
    margin: 0 0 1rem 0;
}
.cocktails-title h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: .1rem;
    text-transform: uppercase;
    border-bottom: 2px solid #F14C2C;
    margin: 0 0 .75rem 0;
}
.cocktails-listing {
    display: grid;
    grid-template-areas: 
    "cocktails-price cocktails-name"
    "cocktails-price cocktails-description";
    grid-template-columns: 3rem 1fr;
    padding-bottom: .5rem;
}
.cocktails-price, .cocktails-name {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}
.cocktails-price {
    grid-area: cocktails-price;
    padding-right: 1rem;
    font-weight: lighter;
}
.cocktails-name {
    grid-area: cocktails-name;
    font-weight: normal;
    text-transform: lowercase;
}
.cocktails-description {
    grid-area: cocktails-description;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    text-transform: lowercase;
    color: #dddddd;
}

/* MARGARITA CRAWL */
    /* .margarita-crawl-group {
        padding: 5px;
        background-color: rgb(255, 199, 174);
        box-shadow: 
        .25em .25em limegreen;
        margin-bottom: .5em;
    }
    .margarita-crawl-group-title h2 {
        font-size: 1.5em;
        color: black;
        margin: 0em 0em .25em 0em;
        padding: 0em 0em .25em 0em;
        border-bottom: 2px solid white;
        font-variant: small-caps;
    }
    #margarita-crawl-drink {
        color: black;
    }
    #margarita-crawl-drink .cocktails-description {
        color: #242424;
    } */

/* BEERS */
.beers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "beers-title beers-title"
    "drafts bottles-cans"
    "ask ask";
    grid-gap: .5rem;
    padding: .5rem .25rem .5rem .25rem;
    margin-bottom: 1rem;
    background-color: #dddddd;
}
.beers-title {grid-area: beers-title;}
.drafts {grid-area: drafts;}
.bottles-cans {grid-area: bottles-cans;}
.ask {grid-area: ask;}

.beers-title h1, .wines-title h1 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: .5rem;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    background-color: #242424;
    color: white;
    margin: 0;
}
.beer-section-title h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    letter-spacing: .1rem;
    background-color: #F14C2C;
    padding: .25rem;
    margin: 0 0 .25rem 0;
}
.beer-listing {
    display: flex;
    flex-direction:row;
    padding-bottom: .25rem;
}
.beer-listing:not(:last-child) {
    border-bottom: 1px solid white;
}
.beer-price {
    font-family: 'Roboto Slab', serif;  
    font-size: 16px;
    padding-right: 1rem;
}
.beer-name {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    text-indent: -.25rem;
    text-transform: capitalize;
}
.ask>h3 {
    text-align: center;
    color: #242424;
}

/* WINES */
.wines {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "wines-title wines-title"
    "reds whites"
    "wine-group-title wine-group-title";
    grid-gap: .5rem;
    padding: .5rem .25rem .5rem .25rem;
    margin-bottom: 1rem;
    background-color: #dddddd;
}
.wines-title {
    grid-area: wines-title;
}
.reds {
    grid-area: reds;
}
.whites {
    grid-area: whites;
}
.wine-section-title h2 {
    padding: .25rem;
    margin: 0 0 .25rem 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    letter-spacing: .1rem;
}
.wine-section-title#reds-title {
    background-color: maroon;
}
.wine-section-title#whites-title {
    background-color: gray;
}
.wine-group-title h3 {
    grid-area: wine-group-title;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    letter-spacing: .1rem;
    padding-bottom: .5rem;
    margin: .75rem 0 0 0;
    border-top: 2px solid white;
    font-weight: normal;
}
.wine-listing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "wine-price wine-name";
    margin-bottom: .25rem;
    grid-gap: .1rem;
}
.wine-price {
    grid-area: wine-price;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    font-weight: normal;   
}
.wine-name {
    grid-area: wine-name;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
    text-indent: -.25rem;
}
.na-bev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #535353;
    color: white;
}
.na-bev-title h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    font-weight: bolder;
    margin: 0 0 .25rem 0;
    padding-bottom: .25rem;
    border-bottom: 1px solid #424242;
}
.na-bev-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.na-bev-list>div {
    margin: .25rem .5rem .25rem .5rem;
    padding-bottom: .1rem;
    border-bottom: 1px dashed #F14C2C;
}

/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #242424;
    color: white;
    padding-bottom: 4rem;
}
.footer>.logo {
    width: 50vw;
    max-width: 300px;
}
.disclaimers {
    text-align: center;
    width: 75%;
    margin: 0 0 1rem 0;
    font-family: 'Roboto Slab', serif;
}
#disclaimer-warning {
    font-style: italic;
    font-weight: lighter;
}
.happy-hour-wrapper {
    border: 1px solid #969696;
    margin-top: 1rem;
    background-color: black;
    width: 75%;
}
.happy-hour-title h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.2rem;
    font-weight: bold;
    margin: 1rem;
    text-align: center;
    color: white;
}
.happy-hour-title h1>span {
    font-weight: bolder;
    /* color | offset-x | offset-y | blur-radius */
    text-shadow: #FC0 1px 0 4px;
}
.happy-hours {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "mon-fri mf-hours"
    "fri-sat fs-hours";
    font-family: 'PT Sans', sans-serif;
    grid-gap: .75rem;
    color: #dddddd;
}
.mon-fri {grid-area: mon-fri;text-align: end;}
.mf-hours {grid-area: mf-hours;}
.fri-sat {grid-area: fri-sat;text-align: end;}
.fs-hours {grid-area: fs-hours;}

.happy-hour-details {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-family: 'PT Sans', sans-serif;
    padding: 1rem;
    background-color: #696969;
    font-size: 1.25rem;
}
.happy-hour-details>div {
    padding-top: .5rem;
}
.happy-hour-details>div:not(:last-child) {
    border-bottom: 1px solid white;
}
.happy-hour-details>div>span {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    text-transform: uppercase;
    padding-right: .5rem;
    text-shadow: -3px 2px 0px #242424;
}
.six-for-six {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.back-to-top-button {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: bolder;
    background: #F14C2C;
    padding: 1rem;
    margin-top: 2rem;
    letter-spacing: .1rem;
}
.back-to-top-button>a {
    text-decoration: none;
    color: white;
}
.social {
    display: grid;
    grid-template-areas: 
    "friends friends"
    "meta1 meta2";
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0 1rem 0;
    padding-top: 1rem;
    border-top: 2px solid white;
    font-weight: bolder;
    /* width: 40vw; */
}
.friends {
    grid-area: friends;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5rem;
    justify-self: center;
}
.meta1 {
    grid-area: meta1;
    justify-self: center;
}
.meta2 {
    grid-area: meta2;
    justify-self: center;
}
.meta1 img, .meta2 img {
    padding: 1rem;
    width: 50px;
    height: auto;
}
a.website-link {
    display: flex;
    text-decoration: none;
    font-size: 1.25rem;
    color: #dddddd;
    border-bottom: 2px solid #F1AF2C;
}
.website-link p {
    margin: 0;
}
.website-link img {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(87deg) brightness(100%) contrast(101%);
    padding-left: 1em;
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 813px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    body {
        border: none;
    }
    .wrapper {
        margin: 0 4rem 0 4rem;
    }
    .logo {
        width: 50vw;
    }
    .footer>.logo {
        width: 25vw;
    }
    .social {
        width: 25vw;
    }
    .meta1 img, .meta2 img {
        width: 5vw;
    }
}
