body {
    margin: 0 2px 4rem 2px;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    background-color:black;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* HEADER */
header {
    display: flex;
    flex-direction: column;
}
.banner {
    display: block;
    margin: 0;
    padding: 0;
    background-color: #F14C2C;
}
.banner>h1 {
    font-size: large;
    color: white;
    text-align: center;
}
.logo {
    margin: 0;
    padding: 0;
    /* width: fit-content; */
    display: block;
}
.logo>img {
    width: -webkit-fill-available;
    max-width: 99vw;
    height: auto;
}
.eats-drinks {
    display: flex;
    flex-direction: row;
    margin: 0 0 .5rem 0;
    position: sticky;
    align-self: center;
    justify-content: space-around;
    width: -webkit-fill-available;
    background-color: black;
}
.eats, .drinks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    margin: 0;
    padding: 0;
    width: -webkit-fill-available;
    background-color: black;
}
.eats>a, .drinks>a {
    text-decoration: none;
    color: white;
    background-color: #F1AF2C;
    /* border-bottom: 2px solid #F14C2C; */
    margin: .25rem;
    padding: .5rem;
    width: -webkit-fill-available;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    letter-spacing: .05rem;
    text-shadow: -1px 1px 1px black;
    -webkit-text-stroke-width: .25px;
    -webkit-text-stroke-color: black;
    paint-order: fill;
}
/* SLIDESHOW */
.fling-minislide {
    width: 100%;
    height: 85vmin;
    overflow: hidden;
    position: relative;
}
.fling-minislide img {
    position: absolute;
    animation: fling-minislide 45s infinite;
    opacity: 0;
    width: 100%;
    height: auto;
}
@keyframes fling-minislide {10%{opacity:1;} 20%{opacity:0;}}
.fling-minislide img:nth-child(8){animation-delay:0s;}
.fling-minislide img:nth-child(7){animation-delay:5s;}
.fling-minislide img:nth-child(6){animation-delay:10s;}
.fling-minislide img:nth-child(5){animation-delay:15s;}
.fling-minislide img:nth-child(4){animation-delay:20s;}
.fling-minislide img:nth-child(3){animation-delay:25s;}
.fling-minislide img:nth-child(2){animation-delay:30s;}
.fling-minislide img:nth-child(1){animation-delay:35s;}

/* STICKY NAV */
.nav-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: .25rem 0 .25rem 0;
    position: sticky;
    align-self: flex-start;
    height: auto;
    top: 0;
    width: -webkit-fill-available;
    background-color: rgba(0, 0, 0, .92);
}
.arrow-right, .arrow-left {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #dddddd;
    width: fit-content;
    vertical-align: middle;
    margin: .5rem .1rem .5rem .1rem;
    padding: 0 .1rem 0 .1rem;
}
/* .skip-to-text {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    letter-spacing: .15rem;
} */
.nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    margin: 0;
    padding: 0;
}
.nav-links::-webkit-scrollbar {
    display: none;
  }
.nav-links>a {
    text-decoration: none;
    color: white;
    /* background-color: #242424; */
    border-bottom: 2px solid #F14C2C;
    margin: .5rem;
    padding: .25rem 0 .25rem 0;
    min-width: fit-content;
}
#nav-vip {
    font-weight: bolder;
    /* color | offset-x | offset-y | blur-radius */
    text-shadow: #FC0 1px 0 2px;
    /* border-bottom: 2px dashed #f14c2c; */
}
#appetizers-sides, #sliders, #salads, #soups, #bowls, #burgers, #burritos, #pizza, #sandwiches, #macs, #kids, #shakes, #syo, #beverages, #cocktails, #beers, #wines, #happy-hour {
    scroll-margin-top: 3.3rem;
}
/* FOOD */
.food, .beverages {
    display: flex;
    flex-direction: column;
}
.food>div {
    padding: 0 0 .5rem 0;
}
.menu-category-group {
    display: flex;
    flex-direction: column;
    background-color: white;
}
.menu-item, .menu-item-dark {
    display: flex;
    flex-direction: column;
    margin: 0 0 .5rem .25rem;
}
.menu-category-title h1, .menu-category-title-dark h1{
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-size: 2.25rem;
    font-weight:900;
    letter-spacing: .1rem;
    margin: .25rem;
    text-align: center;
}
.menu-category-title {
    text-shadow: -3px 2px 0px #242424;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    color: white;
    border-bottom: 2px solid #242424;
    margin-bottom: .5rem;
}
/* DARK BACKGROUND MENU SECTIONS */
.menu-category-group-dark {
    background-color: #242424;
}
.menu-category-title-dark {
    color: white;
    text-shadow: -3px 2px 0px #F14C2C;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: white;
    border-bottom: 2px solid #F14C2C;
    margin-bottom: .5rem;
}
#dark-bg-item {
    color: white;
}
.menu-item-dark {
    color: white;
}
.menu-item-dark>.description {
    color: #dddddd;
}
/* VDAY SPECIALS */
.food>div.menu-category-group-dark#vday-group {
    padding: 0;
}
.menu-category-group-dark#vday-group {
    background-color: rgb(70, 0, 38);
    border: 4px dotted red;
}
.menu-category-title-dark#vday-title {
    text-shadow: -3px 2px 0px rgb(255, 0, 128);
    border-bottom: 2px solid rgb(255, 0, 128);
}
.vday-img img {
    height: auto;
    width: 100%;
}
.vday-caption h2 {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 1rem;
}
/* END DARK BG MENU SECTIONS */
.name-price {
    display: flex;
    flex-direction: row;
}
.name {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}
.price {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 300;
    margin-left: 1rem;
}
.description {
    font-family: 'PT Sans', sans-serif;
    text-transform: lowercase;
    font-weight: lighter;
    font-size: 12px;
    color: #535353;
}
.base-choices {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
    text-transform: lowercase;
    font-weight: lighter;
    font-size: .8rem;
    color: #242424;
    padding: 0 .5rem 0 .5rem;
}
.base-choices>span {
    font-weight: bold;

}
.food-image>img {
    width: -webkit-fill-available;
    max-width: 99vw;
    height: auto;
    padding: .25rem;
}

/* SYO */

.syo {
    border: 2px dashed #F14C2C;
    background-color: white;
    margin: 1rem 0 1rem 0;
}
.syo-title h1 {
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: .2rem;
    text-shadow: -3px 2px 0px #242424;
    color: white;
    border-bottom: 1px solid #242424;
    background-color: #F14C2C;
    margin: 0;
}
.syo-section {
    display: flex;
    flex-direction: column;
    margin: .25rem;
}
.syo-section-title h2 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
    color: white;
    background-color: #242424;
    margin: 0;
}
.syo-mods-wrapper {
    display: grid;
    grid-template-areas: 
    "col1 col2 col3";
}
ul {
    list-style-type: none;
    margin: 0;
    padding: .5rem;
    font-family: 'PT Sans', sans-serif;
}
li {
    font-size: 12px;
    text-indent: -.25rem;
    text-transform: lowercase;
}
li.mods-title h3 {
    font-size: 16px;
    margin: 0;
}
.mods-title {
    text-transform: uppercase;
    font-weight: bold;
}
/* BEVERAGES */
/* COCKTAILS */
.beverages-title h1 {
    display: flex;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 3.25rem;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: .5rem;
    /* background: -webkit-linear-gradient(#F14C2C, #eee); */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    background: #242424;
    margin: 0;
}
.cocktails {
    padding: .25rem;
    border: 2px solid #242424;
    background-color: #242424;
    color: white;
    margin-bottom: 1rem;
}
.cocktails-section {
    margin: 0 0 1rem 0;
}
.cocktails-title h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: .1rem;
    text-transform: uppercase;
    border-bottom: 2px solid #F14C2C;
    margin: 0 0 .75rem 0;
}
.cocktails-listing {
    display: grid;
    grid-template-areas: 
    "cocktails-price cocktails-name"
    "cocktails-price cocktails-description";
    grid-template-columns: 3rem 1fr;
    padding-bottom: .5rem;
}
.cocktails-price, .cocktails-name {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}
.cocktails-price {
    grid-area: cocktails-price;
    padding-right: 1rem;
    font-weight: lighter;
}
.cocktails-name {
    grid-area: cocktails-name;
    font-weight: normal;
    text-transform: lowercase;
}
.cocktails-description {
    grid-area: cocktails-description;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    text-transform: lowercase;
    color: #dddddd;
}

/* BEERS */
.beers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "beers-title beers-title"
    "drafts bottles-cans";
    grid-gap: .5rem;
    padding: .5rem .25rem .5rem .25rem;
    margin-bottom: 1rem;
    background-color: #dddddd;
}
.beers-title {grid-area: beers-title;}
.drafts {grid-area: drafts;}
.bottles-cans {grid-area: bottles-cans;}

.beers-title h1, .wines-title h1 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: .5rem;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    background-color: #242424;
    color: white;
    margin: 0;
}
.beer-section-title h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    letter-spacing: .1rem;
    background-color: #F14C2C;
    padding: .25rem;
    margin: 0 0 .25rem 0;
}
.beer-listing {
    display: flex;
    flex-direction:row;
    padding-bottom: .25rem;
}
.beer-listing:not(:last-child) {
    border-bottom: 1px solid white;
}
.beer-price {
    font-family: 'Roboto Slab', serif;  
    font-size: 16px;
    padding-right: 1rem;
}
.beer-name {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    text-indent: -.25rem;
    text-transform: capitalize;
}

/* WINES */
.wines {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "wines-title wines-title"
    "reds whites"
    "wine-group-title wine-group-title";
    grid-gap: .5rem;
    padding: .5rem .25rem .5rem .25rem;
    margin-bottom: 1rem;
    background-color: #dddddd;
}
.wines-title {
    grid-area: wines-title;
}
.reds {
    grid-area: reds;
}
.whites {
    grid-area: whites;
}
/* .reds, .whites {
    border: 1px solid #969696;
    padding: .1rem;
} */
.wine-section-title h2 {
    padding: .25rem;
    margin: 0 0 .25rem 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    letter-spacing: .1rem;
}
.wine-section-title#reds-title {
    background-color: maroon;
}
.wine-section-title#whites-title {
    background-color: gray;
}
.wine-group-title h3 {
    grid-area: wine-group-title;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    letter-spacing: .1rem;
    padding-bottom: .5rem;
    margin: .75rem 0 0 0;
    border-top: 2px solid white;
    font-weight: normal;
}
.wine-listing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "wine-price wine-name";
    margin-bottom: .25rem;
    grid-gap: .1rem;
}
.wine-price {
    grid-area: wine-price;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    font-weight: normal;   
}
.wine-name {
    grid-area: wine-name;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
    text-indent: -.25rem;
}
.na-bev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #535353;
    color: white;
}
.na-bev-title h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    font-weight: bolder;
    margin: 0 0 .25rem 0;
    padding-bottom: .25rem;
    border-bottom: 1px solid #424242;
}
.na-bev-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.na-bev-list>div {
    margin: .25rem .5rem .25rem .5rem;
    padding-bottom: .1rem;
    border-bottom: 1px dashed #F14C2C;
}
/* .na-bev>div>:nth-child(even) {
    background-color: 1px solid #F14C2C;
} */

/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #242424;
    color: white;
}
.footer>.logo {
    width: 50vw;
    max-width: 300px;
}
.happy-hour-wrapper {
    border: 1px solid #969696;
    margin-top: 1rem;
    background-color: black;
    width: 75%;
}
.happy-hour-title h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.2rem;
    font-weight: bold;
    margin: 1rem;
    text-align: center;
    color: white;
}
.happy-hour-title h1>span {
    font-weight: bolder;
    /* color | offset-x | offset-y | blur-radius */
    text-shadow: #FC0 1px 0 4px;
}
.happy-hours {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "mon-fri mf-hours"
    "fri-sat fs-hours";
    font-family: 'PT Sans', sans-serif;
    grid-gap: .75rem;
    color: #dddddd;
}
.mon-fri {grid-area: mon-fri;text-align: end;}
.mf-hours {grid-area: mf-hours;}
.fri-sat {grid-area: fri-sat;text-align: end;}
.fs-hours {grid-area: fs-hours;}

.happy-hour-details {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-family: 'PT Sans', sans-serif;
    padding: 1rem;
    background-color: #696969;
    font-size: 1.25rem;
}
.happy-hour-details>div {
    padding-top: .5rem;
}
.happy-hour-details>div:not(:last-child) {
    border-bottom: 1px solid white;
}
.happy-hour-details>div>span {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    text-transform: uppercase;
    padding-right: .5rem;
    text-shadow: -3px 2px 0px #242424;
}
.six-for-six {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.social {
    display: grid;
    grid-template-areas: 
    "friends friends"
    "meta1 meta2";
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0 1rem 0;
    padding-top: 1rem;
    border-top: 2px solid white;
    font-weight: bolder;
    /* width: 40vw; */
}
.friends {
    grid-area: friends;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5rem;
    justify-self: center;
}
.meta1 {
    grid-area: meta1;
    justify-self: center;
}
.meta2 {
    grid-area: meta2;
    justify-self: center;
}
.meta1 img, .meta2 img {
    padding: 1rem;
    width: 50px;
    height: auto;
}
.website-link>a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #dddddd;
}
.back-to-top-button {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: bolder;
    border: 3px solid #F14C2C;
    background: #dddddd;
    padding: .75rem;
    margin-top: 2rem;
    letter-spacing: .1rem;
}
.back-to-top-button>a {
    text-decoration: none;
    color: #242424;
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 813px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    body {
        border: none;
    }
    .wrapper {
        margin: 0 4rem 0 4rem;
    }
    .logo {
        width: 50vw;
    }
    .footer>.logo {
        width: 25vw;
    }
    .social {
        width: 25vw;
    }
    .meta1 img, .meta2 img {
        width: 5vw;
    }
}
/* Tablet */
@media only screen 
  and (min-device-width: 900px) 
  /* and (max-device-width: 1600px)  */
  and (-webkit-min-device-pixel-ratio: 1) { 
      body {
          max-width: 50vw;
          margin: auto;
    }
}
/* Big screen */
@media only screen 
  and (min-device-width: 1440px) 
  and (-webkit-min-device-pixel-ratio: 1) {
      body {
          max-width: 33vw;
          margin: auto;
    }
}